In [72]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [65]:
data = pd.read_csv('bank.csv')

In [66]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [67]:
data= data[(data[list(data.columns)] !='unknown')]
data.dropna(inplace=True)

In [68]:
job = pd.get_dummies(data.job,drop_first=True)
marital = pd.get_dummies(data.marital,drop_first=True)
education = pd.get_dummies(data.education,drop_first=True)
poutcome = pd.get_dummies(data.poutcome,drop_first=True)
default= pd.get_dummies(data.default,drop_first=True)
housing = pd.get_dummies(data.housing,drop_first=True)
loan = pd.get_dummies(data.loan,drop_first=True)

In [69]:
data.drop(['job','marital','education','poutcome','default','housing','loan','age', 'contact','month','day_of_week','duration'],inplace=True,axis=1)
X= pd.concat([job,marital,education,poutcome,default,housing,loan,data],axis=1)
X = X.drop('y',axis=1)
y = data['y']

In [73]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [71]:
knn = KNeighborsClassifier(n_neighbors=1)
svc = SVC()
logistic= LogisticRegression()
nb = GaussianNB()

In [74]:
knn.fit(X_train,y_train)
svc.fit(X_train,y_train)
logistic.fit(X_train,y_train)
nb.fit(X_train,y_train)

GaussianNB(priors=None)

In [75]:
models=[knn,svc,logistic,nb]

"SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,\n  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',\n  max_iter=-1, probability=False, random_state=None, shrinking=True,\n  tol=0.001, verbose=False)"

In [79]:
for i in models :
    print"\n",i
    pred = i.predict(X_test)
    
    print"\n", classification_report(y_test,pred)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

             precision    recall  f1-score   support

          0       0.91      0.91      0.91      6703
          1       0.33      0.33      0.33       919

avg / total       0.84      0.84      0.84      7622


SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

             precision    recall  f1-score   support

          0       0.90      0.98      0.94      6703
          1       0.64      0.22      0.33       919

avg / total       0.87      0.89      0.87      7622


LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

             precision    recall  f1-score   support

          0       0.90      0.99      0.94      6703
          1       0.66      0.20      0.31       919

avg / total       0.87      0.89      0.87      7622


GaussianNB(priors=None)

             precision    recall  f1-score   support

          0       0.92      0.87      0.89      6703
          1       0.32      0.44      0.37       919

avg / total       0.85      0.82      0.83      7622