In [39]:
import pandas as pd
from sklearn.svm import SVR
from sklearn.metrics import accuracy_score,mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [31]:
data = pd.read_csv('bikerental.txt',delim_whitespace=True)

In [32]:
data.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed(mph),windspeed(ms),cnt
0,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,4.805490,985
1,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,7.443949,801
2,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,7.437060,1349
3,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,4.800998,1562
4,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,5.597810,1600

In [33]:
data.dropna(inplace=True)
X = data.drop('cnt',axis=1)
y = data['cnt']
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [40]:
model = SVR()
lmodel = LinearRegression()

In [41]:
model.fit(X_train,y_train)
lmodel.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [43]:
models= [model,lmodel]
for i in models:
    print "\n",i
    pred = i.predict(X_test)
    print "MSE: ",mean_squared_error(y_test,pred),"\n"

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)
MSE:  4101276.6834


LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
MSE:  742944.658213