# Question 3

The dataset (Immunotherapy.csv) contains information about wart treatment results of 90 patients using immunotherapy. Develop a KNN Classifier to predict the success of the treatment. Print confusion matrix. Also plot the graph showing the variation of accuracy score for the different values of k.

In [83]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

In [80]:
Data=pd.read_csv("Immunotherapy.csv")
Data[0:5]

,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,1,22,2.25,14,3,51,50,1
1,1,15,3.00,2,3,900,70,1
2,1,16,10.50,2,1,100,25,1
3,1,27,4.50,9,3,80,30,1
4,1,20,8.00,6,1,45,8,1

In [81]:
Data=Data.values
X=Data[:,:-1]
y=Data[:,-1]

In [87]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)
p=knn.predict(X_test)

In [88]:
print "Confusion Matrix : \n",confusion_matrix(p,y_test)
print "\nAccuracy Score : ",accuracy_score(p,y_test)

Confusion Matrix :
[[ 0  0]
 [ 3 15]]

Accuracy Score :  0.8333333333333334